#as-widget-container {
	max-width:960px;
	margin:0 auto;
	margin-bottom:20px;
	min-height:250px;
}

#as-widget-container > * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
}

#as-widget-container a, #as-widget-container label {
	cursor:pointer;
}

#as-widget-container a{
	text-decoration:none;
}

#as-widget-container .as-search-header a, #as-widget-container .as_agencies a {
	color: ##009ED9;
}

#as-widget-container *:focus {
	outline: none;
}

#as-load-more-results, #as-load-external-search {
	font-weight: bold;
	color: ##009ED9;
	cursor: pointer;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 0 2px #888;
	-webkit-box-shadow: 0 0 2px #888;
	box-shadow: 0 0 2px #888;
	background: #e8e8e8 !important;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=) !important;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #fff 2%, #e8e8e8 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(2%, #fff), color-stop(100%, #e8e8e8)) !important;
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #fff 2%, #e8e8e8 100%) !important;
	background: -o-linear-gradient(top, #f2f2f2 0%, #fff 2%, #e8e8e8 100%) !important;
	background: -ms-linear-gradient(top, #f2f2f2 0%, #fff 2%, #e8e8e8 100%) !important;
	background: linear-gradient(top, #f2f2f2 0%, #fff 2%, #e8e8e8 100%) !important;
	padding: 8px 5px;
	font-size: 0.85em;
	width: 200px;
	margin: auto;
	display: block;
	text-align: center;
	font-weight:normal;
}
#as-widget-tipsy.tipsy {
	font-size:12px !important;
	font-family: "ProximaNova", arial, helvetica, sans-serif;
	padding:5px;
}

#as-widget-tipsy.tipsy .tipsy-inner {
	padding:7px;

}
#as-load-more-results:hover {
	background: #ffffff !important;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9)) !important;
background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%) !important;
background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 100%) !important;
background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 100%) !important;
background: linear-gradient(top, #ffffff 0%,#f9f9f9 100%) !important;
}

#as-widget-container .as_agency {
	overflow:hidden;
}
#as-widget-container .as-services ul li label input, .as-sizes ul li label input {
	vertical-align:middle;
	margin: 3px 3px 3px 4px;
	
}

.as-clear-all {
	color: white !important;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100px;
	text-align: right;
	font-size: 13px;
	padding-right: 10px;
	margin-top: 10px;
	padding-bottom: 7px
}

.as-clear-all:hover {
	color: ##009ED9;
}
.as-services-group {
	display:inline-block;
	width:20%;
	vertical-align:top;
}

.as-form-select .as-dropdown {
	zoom:0.9;
}
.as-form-select .as-dropdown ul {
	-webkit-padding-start: 0px;
	-moz-padding-start: 0px;
	text-align:left;
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
	list-style: none;
	margin:0;
}

.as-form-select .as-dropdown ul li {
	color: #dbdbdb;
}

.as-dropdown ul li label {
	font-weight:normal;
	padding: 0 0 0 0px;
}

.as-dropdown ul li label:hover {
	color: ##009ED9;
}
.as-form-select.service .as-dropdown {
	min-width:920px;
}
.as-form-select.size .as-dropdown {
	width: 220px;
}
.as-form-select.open .as-dropdown {
	display:block;
}

.as-form-select .as-dropdown {
	display:none;
	font-size: 18px;
	color: white;
	font-family: "ProximaNova", arial, helvetica, sans-serif;
	max-width: 960px;
	margin: 0 auto;
	z-index: 200;
	position: absolute;
	height: auto;
	margin-top: -1px;
	padding: 15px 15px 10px 20px;
	background: #535352;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #535352 0%, #616160 10%, #898884 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #535352), color-stop(10%, #616160), color-stop(100%, #898884));
	background: -webkit-linear-gradient(top, #535352 0%, #616160 10%, #898884 100%);
	background: -o-linear-gradient(top, #535352 0%, #616160 10%, #898884 100%);
	background: -ms-linear-gradient(top, #535352 0%, #616160 10%, #898884 100%);
	background: linear-gradient(top, #535352 0%, #616160 10%, #898884 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#535352', endColorstr='#898884',GradientType=0 );
	-khtml-border-radius: 0px 0px 2px 2px;
	-moz-border-radius: 0px 0px 2px 2px;
	-webkit-border-radius: 0px 0px 2px 2px;
	border-radius: 0px 0px 2px 2px;
	-webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.3);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.as-search-wrapper {
	font-family: "ProximaNova", arial, helvetica, sans-serif;
	font-size: 16px;

}

.as-search-header {
	color: #595959;
	font-family: 'ProximaNova', arial, helvetica, sans-serif;
	margin-bottom:5px;
}

.as-form-button-submit {
	font-weight:bold;
	width: 90px;
	background: ##009ED9 url(/assets/icons.png) 60px -513px no-repeat !important;
	text-indent: -15px;
	cursor: pointer;
	font-size: 1.2em;
	border: 1px solid #7ba7ba;
	color: #ffffff;
	font-family: 'ProximaNova Semibold', arial, helvetica, sans-serif;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0px 1px #999;
}

.as-form-button-submit:hover {
	background-color: #48b5e4 !important;
}
.as-search-form > * {
	vertical-align:top;
	display:inline-block;
	height: 41px;
	
}

.as-form-select > a {
	font-weight: normal;
	color: #555;
	display: table;
	width: 100%;
	height: 100%;
	text-indent: 10px;
	background: url(/assets/search/select_right.gif) right no-repeat;
	text-decoration:none;
}

.as-form-select.open {
	background-image: url(/assets/search/select_left_sel.gif);
}
.as-form-select.open >a {
	color: #fff;
	background-image: url(/assets/search/select_right_sel.gif);
	z-index: 200;
}

.as-form-select > a > span{
	font-size:1em;
	display:table-cell; 
	vertical-align:middle;
	text-transform:capitalize;
}

.as-form-select {
	background: url('/assets/search/select_left.gif');

	position: relative;
	z-index: 200;
	width:194px;
}
.as_agencies .as_agency a {
	text-decoration: none;
}

.as_agencies {
	font-family: 'ProximaNova Bold', arial, helvetica, sans-serif;
	color: #595959;
	font-size:16px;
}

.as_agency a > * {
	text-align:left;
}
.as_agency .agency_rating .stars {
	display:inline-block;
	width:6.5em;
	position:relative;
	height: 1.0em;
	background-color: #e0e0e0;
	float:right;
}

.as_agency .agency_rating .iVerified {
	display:inline-block;
	background: url(/assets/icons.png) 0 -220px no-repeat;
	text-indent: 25px;
	cursor: help;
	padding: 10px;
}


.as_agency .agency_rating .iNotVerified {
	display:inline-block;
	background: url(/assets/icons.png) 0 -467px no-repeat;
	text-indent: 25px;
	padding: 10px;
}

.as_agency .agency_rating .stars .overlay {
	outline: white solid 1px;
	background: url('/assets/starsWhite.png') 0 -28px no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

.as_agency .agency_rating .stars .underlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: ##009ED9;
	z-index: 0;	
}

.as_agencies .as_agency .agency_about {
	font-family: arial, helvetica, sans-serif;
	font-size: 0.60em;
	color: #666;
	margin-bottom: 10px;
	line-height: 1.5;
	margin-top: 5px;
	max-height: 45px;
	overflow: hidden;
}

.as_agency .agency_name {
	font-weight: bold;
	line-height: 1.4;
	color: #606060;
	font-size:1.0em;
	height: 1.3em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.as_agency .agency_services {
	text-transform: uppercase;
	line-height: 1.5;
	margin-bottom: 4px;
	font-size: 0.55em;
	height: 25px;
	overflow:hidden;
	font-weight:normal;
	color: #616161;
}

.as_agency .agency_rating {
	border: 1px solid #e5e5e5;
	border-left: none;
	border-right: none;
	padding: 10px 2px 10px;
	line-height:0;
}

.as_agencies .as_agency {
	vertical-align:top;
	display:inline-block;
	width:220px;
	height:225px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.33);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	margin-right: 8px;
	background: #ffffff;
	border-radius: 3px;
	padding:5px;
	margin-bottom:10px;
}

.as_agencies .as_agency:hover {
	-webkit-box-shadow: 2px 9px 30px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 2px 9px 30px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 9px 30px rgba(0, 0, 0, 0.4);
}

@font-face {
    font-family: 'ProximaNova Bold';
    src: url('/assets/proximanova-bold-webfont.eot');
    src: url('/assets/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/proximanova-bold-webfont.woff') format('woff'),
         url('/assets/proximanova-bold-webfont.ttf') format('truetype'),
         url('/assets/proximanova-bold-webfont.svg#ProximaNovaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/proximanova-regular-webfont.eot');
    src: url('/assets/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/proximanova-regular-webfont.woff') format('woff'),
         url('/assets/proximanova-regular-webfont.ttf') format('truetype'),
         url('/assets/proximanova-regular-webfont.svg#ProximaNova') format('svg');
    font-weight: normal;
    font-style: normal;

}

#as-circularG{
position:relative;
z-index:9999999;
width:64px;
height:64px;
margin:auto;
}

.as-circularG{
position:absolute;
background-color:#48B5E4;
width:15px;
height:15px;
-moz-border-radius:10px;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:10px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:10px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:10px;
-o-animation-name:bounce_circularG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:10px;
animation-name:bounce_circularG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#as-circularG_1{
left:0;
top:25px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#as-circularG_2{
left:7px;
top:7px;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#as-circularG_3{
top:0;
left:25px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#as-circularG_4{
right:7px;
top:7px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#as-circularG_5{
right:0;
top:25px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#as-circularG_6{
right:7px;
bottom:7px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#as-circularG_7{
left:25px;
bottom:0;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#as-circularG_8{
left:7px;
bottom:7px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

#as-circularG-small{
position:relative;
width:40px;
height:40px;
z-index:9999999;
margin-left:5px;
}

.as-circularG-small{
position:absolute;
background-color:##009ED9;
width:9px;
height:9px;
-moz-border-radius:6px;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:0.88s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:6px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:0.88s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:6px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:0.88s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:6px;
-o-animation-name:bounce_circularG;
-o-animation-duration:0.88s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:6px;
animation-name:bounce_circularG;
animation-duration:0.88s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#as-circularG_1-small{
left:0;
top:16px;
-moz-animation-delay:0.33s;
-webkit-animation-delay:0.33s;
-ms-animation-delay:0.33s;
-o-animation-delay:0.33s;
animation-delay:0.33s;
}

#as-circularG_2-small{
left:4px;
top:4px;
-moz-animation-delay:0.44s;
-webkit-animation-delay:0.44s;
-ms-animation-delay:0.44s;
-o-animation-delay:0.44s;
animation-delay:0.44s;
}

#as-circularG_3-small{
top:0;
left:16px;
-moz-animation-delay:0.55s;
-webkit-animation-delay:0.55s;
-ms-animation-delay:0.55s;
-o-animation-delay:0.55s;
animation-delay:0.55s;
}

#as-circularG_4-small{
right:4px;
top:4px;
-moz-animation-delay:0.66s;
-webkit-animation-delay:0.66s;
-ms-animation-delay:0.66s;
-o-animation-delay:0.66s;
animation-delay:0.66s;
}

#as-circularG_5-small{
right:0;
top:16px;
-moz-animation-delay:0.77s;
-webkit-animation-delay:0.77s;
-ms-animation-delay:0.77s;
-o-animation-delay:0.77s;
animation-delay:0.77s;
}

#as-circularG_6-small{
right:4px;
bottom:4px;
-moz-animation-delay:0.88s;
-webkit-animation-delay:0.88s;
-ms-animation-delay:0.88s;
-o-animation-delay:0.88s;
animation-delay:0.88s;
}

#as-circularG_7-small{
left:16px;
bottom:0;
-moz-animation-delay:0.99s;
-webkit-animation-delay:0.99s;
-ms-animation-delay:0.99s;
-o-animation-delay:0.99s;
animation-delay:0.99s;
}

#as-circularG_8-small{
left:4px;
bottom:4px;
-moz-animation-delay:1.1s;
-webkit-animation-delay:1.1s;
-ms-animation-delay:1.1s;
-o-animation-delay:1.1s;
animation-delay:1.1s;
}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}
